@font-face {
    font-family: "bahnschrift-semicondensed";
    src: url(../images/bahnschrift-font/BAHNSCHRIFT\ 8.TTF);
}

@font-face {
    font-family:"bahnschrift-light";
    src: url(../images/bahnschrift-font/BAHNSCHRIFT\ 10.TTF);
}

$estilos:(
    semicondensed: "bahnschrift-semicondensed",
    light: "bahnschrift-light",

);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:map-get($map: $estilos, $key: light)

}


.header{
    background-color: #fff45c;

    
    .header__arriba{
        display: flex;
        justify-content: center;
        align-items: center;
    
        .header__titulo{
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 0;
            margin-right: 12rem;
            .header__titulo--logo{
                height: 4rem;
                
            }
    
            
            .header__titulo--texto{
                font-family: map-get($map: $estilos, $key: semicondensed);
                font-size: 1.2rem;
                line-height: 18px;
                color: #2d3276;
            }
            
        }

        .header__buscar{
            width: 24rem;
            .header__buscador{
                width: 100%;
                padding: .7rem;
                font-size: .9rem;
                outline: none;
                border: none;
                
            }
        }
    }
}
